<%= render :partial => 'shared/usermenue',
		:locals => { :active => 'Berechtigungen' } -%>
<h2><%= t(:permission_list_heading) %><%= @role.role_name%></h2>

<table id="list">
	<tr>
		<th><%= t(:controller) %></th><th><%= t(:action) %></th><th><%= t(:permission) %></th>
	</tr>
<%
listentry = 0
for p in @role.permissions do
listentry = listentry ^ 1
-%>
	<tr class="listentry<%=listentry-%>">
		<td><%= h p.controller_name -%></td>
		<td><%= h p.action_name -%></td>
		<td><%= h p.permission -%></td>
		<td><%= link_to( t(:link_to_permissions_toggle_permission), :action => 'toggle_permission', :id => p.id)%></td>
	</tr>
<% end -%>
</table>

<% content_for :infobox do %>
<p><%= t(:permission_list_infobox_1) %></p>
<%= t(:permission_list_infobox_2) %>
<% end %>
