<%= render :partial => 'shared/usermenue',
		:locals => { :active => 'Mein Passwort' } %>
<h2><%= t(:user_change_password_heading) %></h2>

<%= render :partial => 'password' %>
<% form_tag :action => 'update_password' do %>
<%= hidden_field_tag(:id, @user.id) %>
<table class="form">
   <tr>
      <td class="label"><label for="user_name"><%= t(:username)%></label></td>
      <td class="input"><%= h @user.user_name %></td>
   </tr><tr>
   	  <td class="label"><label for="old_password"><%= t(:password_old)%></label></td>
   	  <td class="input"><%= password_field_tag(:old_password) %></td>
   </tr><tr>
      <td colspan="2"><hr/></td>
   </tr><tr>
      <td class="label"><label for="password"><%= t(:password_new)%></label></td>
      <td class="input"><%= password_field_tag :password %></td>
   </tr><tr>
      <td class="label"><label for"password_confirmation"><%= t(:password_confirmation)%></label></td>
      <td class="input"><%= password_field_tag :password_confirmation %></td>
   </tr><tr>
      <td class="button"> </td>
      <td class="button"><%= submit_tag t(:save) %></td>
   </tr>
</table>
<% end %>

<% content_for :infobox do %>
<p><%= t(:user_change_password_infobox)%></p>
<% end %>