<%= render :partial => 'shared/usermenue',
		:locals => { :active => 'Nutzer' } -%>
<h2><%= t(:user_index_heading)%></h2>
<table id="list">
	<tr>
		<th><%= t(:username)%></th><th><%= t(:lastname)%></th><th><%= t(:firstname)%></th><th><%= t(:behoerde)%></th><th><%= t(:email)%></th><th><%= t(:role_name)%></th>
	</tr>
<%
listentry = 0
for u in @users do
listentry = listentry ^ 1
-%>
	<tr class="listentry<%=listentry-%>">
		<td><%= h u.user_name -%></td>
		<td><%= h u.lastname -%></td>
		<td><%= h u.firstname -%></td>
		<td><%= h u.behoerde -%></td>
		<td><%= h u.email -%></td>
		<td><%= h u.role.role_name -%></td>
		<td><%= link_to( t(:edit), edit_user_path(u)) -%></td>
		<td><%= link_to(t(:permissions), :controller => 'permission', :action => 'list', :id => u.role.id) -%></td>
		<td><%= link_to(t(:delete), u, :confirm => t(:user_confirm_deletion), :method => :delete) -%></td>
	</tr>
<% end -%>
</table>

<ul id="navigation">
	<li><%= link_to t(:link_to_users_new), new_user_path %></li>
</ul>

<% content_for :infobox do %>
<p><%= t(:user_index_infobox) %></p>
<% end %>