<tr>
<td class="special"></td>	
<td class="special"><%=h ipnet.id %></td>
<td><%=h ipnet.name %></td>
<td><%=h ipnet.ipaddr%></td>
<td><%=h ipnet.netmask%></td>
<td class="special"><%=h ipnet.unq %></td>
</tr>